USE [Lopushok]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 26.02.2024 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[MaterialTypeId] [int] NOT NULL,
	[CountInPack] [int] NOT NULL,
	[UnitOfMeasureId] [int] NOT NULL,
	[CountInStock] [int] NOT NULL,
	[MinimalCountLeft] [int] NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__Material__3214EC0765B3BF25] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 26.02.2024 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Material__3214EC071D9A5939] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 26.02.2024 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Article] [varchar](10) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[MinimalAgentCost] [decimal](10, 2) NOT NULL,
	[Image] [varchar](50) NOT NULL,
	[ProductTypeId] [int] NOT NULL,
	[CountOfPeopleToProduce] [int] NOT NULL,
	[NumberOfFactory] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMaterial]    Script Date: 26.02.2024 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaterial](
	[ProductId] [varchar](10) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[MaterialCount] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 26.02.2024 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK__ProductT__3214EC07B4EEE22A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitOfMeasure]    Script Date: 26.02.2024 16:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOfMeasure](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK__UnitOfMe__3214EC072A43BE18] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([Id], [Name], [MaterialTypeId], [CountInPack], [UnitOfMeasureId], [CountInStock], [MinimalCountLeft], [Cost]) VALUES (1, N'Спрессованный материал серый 0x2', 1, 5, 1, 140, 49, CAST(3312800.00 AS Decimal(10, 2)))
INSERT [dbo].[Material] ([Id], [Name], [MaterialTypeId], [CountInPack], [UnitOfMeasureId], [CountInStock], [MinimalCountLeft], [Cost]) VALUES (2, N'Рулон бумаги зеленый 1x1', 2, 3, 1, 634, 36, CAST(26841.00 AS Decimal(10, 2)))
INSERT [dbo].[Material] ([Id], [Name], [MaterialTypeId], [CountInPack], [UnitOfMeasureId], [CountInStock], [MinimalCountLeft], [Cost]) VALUES (3, N'Спрессованный материал розовый 2x1', 1, 8, 1, 636, 21, CAST(52606.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialType] ON 

INSERT [dbo].[MaterialType] ([Id], [Name]) VALUES (1, N' Пресс')
INSERT [dbo].[MaterialType] ([Id], [Name]) VALUES (2, N' Рулон')
INSERT [dbo].[MaterialType] ([Id], [Name]) VALUES (3, N' Гранулы')
SET IDENTITY_INSERT [dbo].[MaterialType] OFF
GO
INSERT [dbo].[Product] ([Article], [Name], [MinimalAgentCost], [Image], [ProductTypeId], [CountOfPeopleToProduce], [NumberOfFactory]) VALUES (N'238686', N'Полотенце 27М Дыня', CAST(7864.00 AS Decimal(10, 2)), N'', 2, 2, 2)
INSERT [dbo].[Product] ([Article], [Name], [MinimalAgentCost], [Image], [ProductTypeId], [CountOfPeopleToProduce], [NumberOfFactory]) VALUES (N'239349', N'Полотенце 41М Дыня', CAST(6238.00 AS Decimal(10, 2)), N'', 3, 2, 9)
INSERT [dbo].[Product] ([Article], [Name], [MinimalAgentCost], [Image], [ProductTypeId], [CountOfPeopleToProduce], [NumberOfFactory]) VALUES (N'240580', N'Набор 8М Дыня', CAST(7465.00 AS Decimal(10, 2)), N'', 5, 5, 2)
GO
SET IDENTITY_INSERT [dbo].[ProductMaterial] ON 

INSERT [dbo].[ProductMaterial] ([ProductId], [MaterialId], [MaterialCount], [Id]) VALUES (N'252485', 24, 20, 1)
INSERT [dbo].[ProductMaterial] ([ProductId], [MaterialId], [MaterialCount], [Id]) VALUES (N'275591', 6, 1, 2)
INSERT [dbo].[ProductMaterial] ([ProductId], [MaterialId], [MaterialCount], [Id]) VALUES (N'400484', 6, 4, 3)
GO
SET IDENTITY_INSERT [dbo].[ProductMaterial] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([Id], [Name]) VALUES (1, N'Три слоя')
INSERT [dbo].[ProductType] ([Id], [Name]) VALUES (2, N'Два слоя')
INSERT [dbo].[ProductType] ([Id], [Name]) VALUES (3, N'Детская')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitOfMeasure] ON 

INSERT [dbo].[UnitOfMeasure] ([Id], [Name]) VALUES (1, N' м')
INSERT [dbo].[UnitOfMeasure] ([Id], [Name]) VALUES (2, N' л')
INSERT [dbo].[UnitOfMeasure] ([Id], [Name]) VALUES (3, N' кг')
SET IDENTITY_INSERT [dbo].[UnitOfMeasure] OFF
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK__Materials__Mater__3D5E1FD2] FOREIGN KEY([MaterialTypeId])
REFERENCES [dbo].[MaterialType] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK__Materials__Mater__3D5E1FD2]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK__Materials__UnitO__3E52440B] FOREIGN KEY([UnitOfMeasureId])
REFERENCES [dbo].[UnitOfMeasure] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK__Materials__UnitO__3E52440B]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__Product__412EB0B6] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__Product__412EB0B6]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK__ProductMa__Mater__44FF419A] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK__ProductMa__Mater__44FF419A]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Article])
GO
